<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tanks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tanks.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>1366</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiSample" serializeAs="String">
                <value>False</value>
            </setting>
        </Tanks.Properties.Settings>
    </applicationSettings>
</configuration>